body {
    background-color: #355C7D;
    margin: 0;
    display: flex;
    height: 100vh;
}

header {
    background-color: #6C5B7B;
    text-align: right;
    padding: .75rem 0;
    border-bottom: solid 1px #F8B195;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

header a {
    color:white;
    background-color: #C06C84;
    border: solid 3px #F67280;
    border-radius: 3px;
    padding: .25rem .5rem;
    margin-right: .5rem;
    line-height: 1.5rem;
    text-decoration: none;
}

header a:hover {
    background-color: #F67280;
}

.canvas {
    background-color: #C06C84;
}


.contentbox {
    background-color: #F8B195;
    text-align: center;
    margin:auto;
    width: 50%;
    font-family: Raleway;
    
    font-size: 36px;

}
